/* Logo Color: #f98080 */

body {
  user-select: none;
  scroll-behavior: smooth;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #aec8ca;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--chakra-colors-gray-100);
}
