/* Logo Color: #f98080 */
html,
body,
:root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background: #aec8ca !important;
}

.chakra-switch span:focus-visible,
.chakra-switch span[data-focus-visible] {
  box-shadow: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #aec8ca;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--chakra-colors-gray-100);
}
