/* Logo Color: #f98080 */
/* green: {
    100: "#eff4f4",
    200: "#dfe9ea",
    300: "#cededf",
    400: "#bed3d5",
    500: "#aec8ca",
    600: "#8ba0a2",
    700: "#687879",
    800: "#465051",
    900: "#232828"
}, */

/* yellow: {
          100: "#f9efcc",
          200: "#f3de99",
          300: "#edce67",
},  */

/* blue: {
    100: "#dbe9f9",
    200: "#b7d3f3",
    300: "#92bcee",
    400: "#6ea6e8",
    500: "#4a90e2",
    600: "#3b73b5",
    700: "#2c5688",
    800: "#1e3a5a",
    900: "#0f1d2d"
}, */

/* black: {
    100: "#fcfcfcd1",
    200: "#f6f6f6a3",
    300: "#ececec75",
    400: "#d3d3d347",
    500: "#0000001a",
    600: "#00000047",
    700: "#00000075",
    800: "#000000a3",
    900: "#000000d1"
}, */

body {
  user-select: none;
  scroll-behavior: smooth;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #aec8ca;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--chakra-colors-gray-100);
}
