html,
body,
:root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background: #fff !important;
}

.chakra-switch span:focus-visible,
.chakra-switch span[data-focus-visible] {
  box-shadow: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #aec8ca;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--chakra-colors-gray-100);
} */

.logout-button > .chakra-button__icon {
  margin-inline-start: unset;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate {
  animation: slide-in 0.5s ease-out;
}
